<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagem na Bagagem</title>

    <link rel="shortcut icon" href="../imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
<body>

    <!-- INDEX -1 -->
    <div class="background-box">
        <div class="aux-header">

        </div>
        <div class="aux-box">
            <div class="p-box">
                <p class="frase-chamado espaco-p cor-secundaria">

                    Viagem na bagagem


                </p>
                <p class="frase-chamado">
                    
                    Descubra destinos <span class="hand-writing">fascinantes</span>, vivencie

                </p>
                <p class="frase-chamado">

                    <span class="hand-writing">experiências únicas</span>

                </p>
    
                <p class="frase-chamado">

                    e crie memórias para toda a vida.

                </p>

            </div>
            
        </div>
    </div>
    <!-- INDEX -1 FIM -->
    <!-- INDEX 0 -->
    <header>
        <div class="left-header">
            <div>
                <a href="aboutSite.html"><img src="../imgs/logo.png" alt="" id="logo-header"></a>
            </div>
            <div class="header-links">
                <a href="paginaPrincipal.html">Nossos Serviços</a>
                <a href="login.html">Entrar</a>
                <a href="cadastro.html">Cadastro</a>

            </div>
        </div>
        <div class="right-header">
            <input type="text" name="busca" id="input-search" placeholder="Para onde você deseja ir?">
            <a href=""><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
        </div>
    </header>
    <nav>
        <a href="paginaPrincipal.html">Nossos Serviços</a>
        <a href="login.html">Entrar</a>
        <a href="cadastro.html">Cadastro</a>
    </nav>
    <main>
        <div class="up-main">
            <img src="../imgs/cloud.png" alt="" id="nuvem1" class="nuvem">
            <img src="../imgs/cloud.png" alt="" id="nuvem2" class="nuvem">
            <img src="../imgs/airplane-icon.png" alt="" id="aviao">
            <img src="../imgs/cloud.png" alt="" id="nuvem3" class="nuvem">
            <img src="../imgs/cloud.png" alt="" id="nuvem4" class="nuvem">


        </div>
        <div class="down-main">
            <div class="left-block">
                <p class="welcome-text">
                    Bem-vindo ao Viagem na Bagagem, o seu portal para experiências de viagem inesquecíveis! Aqui, acreditamos que cada viagem é uma oportunidade de explorar novos horizontes, criar memórias preciosas e enriquecer a sua vida. Com a nossa paixão por viagens e o compromisso de fornecer serviços excepcionais, estamos prontos para ser o seu parceiro confiável na organização da sua próxima aventura.
    
                </p>

            </div>
            <div class="right-block">
                <img src="../imgs/world_stamp.webp" alt="" id="world-stamp">
            </div>
        </div>
        <div class="box-cadastro">
            <form action="cadastro.html">

                <button id="btn-cadastro" type="submit">CRIE SUA CONTA</button>
            </form>
        </div>
        <footer>
            <p>INFORMAÇÕES DE CONTATO</p>
            <p><i class="fa-solid fa-envelope"></i> Email: viagemnabagagem@gmail.com</p>
            <p><i class="fa-brands fa-whatsapp"></i> WhatsApp: (53)99999-9999</p>
            <p><i class="fa-brands fa-instagram"></i> Instagram: bagagemnaviagemOficial</p>
        </footer>
    </main>

    <!-- INDEX 0 FIM -->
</body>
</html>