<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="shortcut icon" href="../imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styleCadastro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div class="cadastro-box">
        <div class="left-side">
            <img src="../imgs/logo.png" alt="" id="logo-cadastro">
            <h1 id="titulo-cadastro">BEM VINDO DE VOLTA!</h1>
            <p id="p-cadastro"> Estamos emocionados em tê-lo novamente aqui, pronto para embarcar em novas aventuras e explorar o mundo ao nosso lado?</p>
            <p id="airplane-icon"><i class="fa-solid fa-plane-departure"></i></p>
        </div>
        <div class="right-side">
            <fieldset>

                <h1>Insira seus dados</h1>
                <div class="info-block">
                    <label for="email">Email:</label>
                    <input type="email" id="email" placeholder="Insira seu email">
                </div>

                <div class="info-block">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" placeholder="Insira sua senha">
                </div>

                <div class="criar-conta">
                    <p>
                        Você não tem conta ainda? <a href="cadastro.html" id="clique-aqui">Clique aqui</a> para criar uma conta em menos de 3 minutos!
                    </p>
                </div>
                <p id="frase-sonhador">
                    "Um verdadeiro sonhador, com o coração cheio de desejo, ansioso para desbravar o mundo e transformar seus sonhos em realidade através de viagens extraordinárias."
                </p>
                <div class="cadastrar-voltar">

                    <form action="aboutSite.html">
                        <button id="voltar">
                            CANCELAR
                        </button>

                    </form>
                    <form action="paginaPrincipal.html">
                        <button id="cadastrar">
                            ENTRAR
                        </button>

                    </form>

                </div>

            </fieldset>

        </div>
    </div>
</body>
</html>