<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossos serviços</title>
    <link rel="shortcut icon" href="../imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/paginaPrincipal.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="left-header">
            <div id="logo-header">
                <a href="aboutSite.html"><img src="../imgs/logo.png" alt="" id="logo-header"></a>
            </div>
            <a href="paginaPrincipal.html">Nossos Serviços</a>
            <a href="login.html">Entrar</a>
            <a href="cadastro.html">Cadastro</a>
        </div>
        <div class="right-header">
            <input type="text" name="busca" id="input-search" placeholder="Para onde você deseja ir?">
            <a href=""><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
        </div>
    </header>
    <div class="mid">
        <nav class="left-grid">
            <div class="nav-all-box">

                <div class="nav-box">
                    <p>Austrália</p>
                </div>
                <div class="nav-box">
                    <p>Canada</p>
                </div>
                <div class="nav-box">
                    <p>China</p>
                </div>
                <div class="nav-box">
                    <p>EUA</p>
                </div>
                <div class="nav-box">
                    <p>Irlanda</p>
                </div>
                <div class="nav-box">
                    <p>Japão</p>
                </div>
            </div>
        </nav>
        <main class="right-grid">
                <h1 id="servicos-title">CONHEÇA NOSSA CONSULTORIA</h1>
            <div class="all-main-box">
                <div class="main-text">
                    <p>Descubra um novo mundo de possibilidades com nossa consultoria especializada em viagens de paraísos. Queremos ajudá-lo a transformar seus sonhos em experiências inesquecíveis e tornar cada momento de sua jornada digno de um verdadeiro paraíso.</p>
                    <p>Com nossa consultoria especializada, você terá acesso a roteiros personalizados, dicas exclusivas e conhecimento aprofundado sobre cada destino paradisíaco que desejar explorar. Quer você esteja planejando uma escapada romântica, uma aventura em família ou uma jornada solo em busca de paz e tranquilidade, nossa equipe cuidará de todos os detalhes para garantir que sua viagem seja perfeita.</p>
                </div>
                <div class="img-box">
                    <p>POR APENAS <span class="hand-writing-main"> R$ 100</span> FALE</p>
                    <p>CONOSCO E COMECE A PREPARAR SUA BAGAGEM </p>
                    <button class="btn-servico">CONTRATE NOSSO SERVIÇO</button>
                </div>    
            </div>
        </main>
    </div>
    <footer>
        <p>INFORMAÇÕES DE CONTATO</p>
        <p><i class="fa-solid fa-envelope"></i> Email: viagemnabagagem@gmail.com</p>
        <p><i class="fa-brands fa-whatsapp"></i> WhatsApp: (53)99999-9999</p>
        <p><i class="fa-brands fa-instagram"></i> Instagram: bagagemnaviagemOficial</p>
    </footer>
</body>
</html>