@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

header{
    background-color: #d96811dd;
    width: 100%;
    height: 10vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vw;
    backdrop-filter: blur(40px);
    margin-bottom: 20px;
    font-weight: bold;

}
header p{
    color: #fdfdfd;
    font-weight: bold;
}

header img{
    height: 10vw;


}

.logo{
    width: 43vw
}

.options{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: lightgreen;
    transition: 0.75s;
}
.content{
    margin: auto;
    width: 80vw;
    
}
nav{
    width: 15vw;
    height: 30vw;
    background-color: #ffd2af;
    padding: 3vw;
    display: block;
}

#receitas-title{
    font-size: 2vw;
    font-weight: bold;
}

#ul-list{
    margin-top: 20px;
    font-size: 1.5vw;
}