body{
    display: grid;
    grid-template-areas:
        "x"
        "y"
        "z"
    ;
    height: 650px;
}

:root{
    --main-color: #E6E3D5;
    --secondary-colors: #9C709A;
    --font-color: #2E2222;
    --header-font:'Libre Baskerville', serif;;
    --body-font:'DM Sans', sans-serif;
    --hand-font: 'Caveat', cursive;;
}

header{
    grid-area: "x";
}
.mid{
    grid-area: "y";
    height: 590px;
    display: grid;
    grid-template-columns: max-content;
    grid-template-areas: 
    "a b"
    ;
}
footer{
    grid-area: "z";
    position: relative;
    bottom: 0;
    left: 0;

}

.left-grid{
    grid-area: "a";
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-grid{
    grid-area: "b";
    height: 100%px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-box{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-family: font;
    margin-bottom: 20px;
}
.nav-box p{
    text-align: center;
    font-family: var(--header-font);
    color: var(--font-color);
    cursor: pointer;
    transition: 0.7s;
    font-size: 20px;
}

.nav-box p:hover{
    color: var(--secondary-colors);
    font-size: 21px;
}

.nav-all-box{
    border: 1px solid var(--font-color);
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color);

}

.nav-all-box:hover{
    border: 3px solid var(--secondary-colors);
}

.main-text{
    width: 400px;
    font-family: var(--header-font);
    color: var(--font-color);
}
.img-box{
    width: 400px;
}
.all-main-box{
    display: flex;
    text-align: justify;
    justify-content: space-around;
    width: 900px;
}

#servicos-title{
    font-family: var(--header-font);
    color: var(--font-color);
    text-decoration: underline;
}

.hand-writing-main{
    font-family: var(--hand-font);
    font-size: 35px;
    color: darkgreen;
}

.img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img-box h1{

    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.img-box p{

    text-align: center;
    font-size: 30px;

}

.btn-servico{
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 40px;
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-family: var(--body-font);
    background-color: var(--secondary-colors);
    color: var(--main-color);
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    transition: 0.7s;

}

.btn-servico:hover{
    background-color: #553c54;

}

@media(max-width: 750px) {
    .header-links{
        display: none;
    }

    .left-header{
        width: 100px;
    }

    .right-header{
        width: 200px;
        margin-left: 70px;
    }

    #input-search{
        width: 145px;
    }

    .mid{

        grid-template-areas: 
        "a"
        "b"
        ;
    }

    .left-grid{
        width: 100vw;
        margin-top: 50px
    }

    .sec-header{
        width: 100vw;
        font-family: var(--header-font);
    }

    header{
        width: 10px;
    }
    body{
        width: 100vw;
    }

    #servicos-title{
        font-size: 14px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    .all-main-box{
        flex-direction: column;
        width: 300px;
    }
    footer{
        margin-top: 720px;
        width: 100vw;
    }

    .right-grid{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .main-text{
        width: 320px;
    }
    .img-box{
        width: 300px;
        margin-top: 20px;
    }
}