  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}



:root{
    --main-color: #E6E3D5;
    --secondary-colors: #9C709A;
    --font-color: #2E2222;
    --header-font:'Libre Baskerville', serif;;
    --body-font:'DM Sans', sans-serif;
    --hand-font: 'Caveat', cursive;;
}

body{
    background-color: var(--main-color);
    max-height: none;
}

header{
    height: 100px;
    display: flex;
    font-family: var(--header-font);
    font-weight: bold;
    color: var(--font-color);
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--main-color);


}

header a{
    text-decoration: none;
    color: var(--font-color);
}

header a:hover{
    transition: 0.5s;
    color:#9C709A;
}

#logo-header{
    height: 100px;

}

.left-header, .right-header{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-header{
    justify-content: center;
}

header input{
    border: 1px solid var(--font-color);
    border-radius: 10px;
    height: 30%;
    width: 35%;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
}

.right-header i{
    font-size: 20px;
}

header input::placeholder{
    text-align: center;
    color: rgba(211, 211, 211, 0.726);
}

main{
    height: 100%;
    flex-wrap: wrap;
    width: 100%;

}

.up-main{
    width: 100%;
    height: 429px;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;

}

.down-main{
    width: 100%;
    height: 350px;
    background-color: #E6E3D5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;

}

.frase-chamado{
    font-family: var(--header-font);
    color: var(--font-color);
    width: 500px;
    font-size: clamp(18px,2vw,25px);

}

#world_map{
    height: 100%;
    width: 100%;
}

#location_icon{
    position: absolute;
    height: 35px;
    animation: mymove 10s infinite;
}

.bloco-chamado{
    max-height: 200px;
    max-width: 200px;
}

.left-block, .right-block{
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #b3afa0;
}

.welcome-text{
    width: 450px;
    font-size: clamp(15px,2vw,18px);
    text-indent: 1rem;
    font-family: var(--header-font);
}

.left-block{
    padding: 20px;
    text-align: justify;
    max-height: none;
    border-right: 1px solid var(--font-color);
}

.background-box{
    z-index: -1;
    background-color: lightgray;
    width: 100%;
    height: 529px;
    position: absolute;
}

.aux-header{
    height: 100px;
}

.aux-box{
    height: 429px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-box{
    text-align: center;
}

.hand-writing{
    font-family: var(--hand-font);
    color: var(--secondary-colors);
    font-size: clamp(25px,2vw,35px);
    font-weight: bold;
}

.espaco-p{
    margin-bottom: 100px;
}

.cor-secundaria{
    color: var(--secondary-colors);
    font-weight: bold;
}

#world-stamp{
    height: 80%;
}

.box-cadastro{
    width: 97vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-cadastro{
    height: 50%;
    width: 200px;
    border: none;
    font-family: var(--body-font);
    font-weight: bold;
    color: #FDFDFD;

    background-color: var(--secondary-colors);
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.7s;
    cursor: pointer;
}

#btn-cadastro:hover{
    background-color: #553453;
    
}

footer{
    height: 150px;
    width: 100%;
    background-color: #553453;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: var(--body-font);
    font-weight: bold;
    color: #FDFDFD;
}

#cadastro-link{
    height: 100%;
}

nav{
    display: none;
}

.header-links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
@media(max-width: 750px) {
    .down-main{
        display: flex;
        height: 500px;

    }

    .left-block{
        border-right: none;
        width: 300px;
        height: 250px;
    }

    .right-block{
        height: 400px;
    }
    #world-stamp{
        height: 250px;
    }

    .frase-chamado{
        width: 300px;
    }

    #cadastro-link{
        margin-top: 150px;
    }

    footer{
        margin-top: 100px;
    }

    nav{
        display: flex;
        justify-content: space-around;
        background-color: var(--main-color);
        padding-bottom: 10px;
    }
    nav a{
        text-decoration: none;
        color: var(--font-color);
        font-family: var(--header-font);
    }

    .header-links{
        display: none;
    }

    #input-search{
        width: 100%;
    }
    .left-header{
        justify-content: left;
    }
}