  @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --main-color: #E6E3D5;
    --secondary-colors: #9C709A;
    --font-color: #2E2222;
    --header-font:'PT Serif', serif;
    --body-font:'DM Sans', sans-serif;
}

body{
    background-color: var(--main-color);
    height: 81vh;
}

header{
    height: 100px;
    display: flex;
    font-family: var(--header-font);
    font-weight: bold;
    color: var(--font-color);
    padding-left: 25px;
    padding-right: 25px;

}

header a{
    text-decoration: none;
    color: var(--font-color);
}

header a:hover{
    transition: 0.5s;
    color:#9C709A;
}

#logo-header{
    height: 100px;

}

.left-header, .right-header{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-header{
    justify-content: center;
}

header input{
    border: 1px solid var(--font-color);
    border-radius: 10px;
    height: 30%;
    width: 35%;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
}

.right-header i{
    font-size: 20px;
}

header input::placeholder{
    text-align: center;
    color: rgba(211, 211, 211, 0.726);
}

main{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.left-main, .right-main{
    width: 530px;
    height: 400px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-main{
    background-color: greenyellow;

}

#world_map{
    height: 100%;
    width: 100%;
}

#location_icon{
    position: absolute;
    height: 35px;
    animation: mymove 10s infinite;
}

@keyframes mymove{
    from{left: 130px; bottom:170px;}
    14.2%{left: 260px; bottom:295px;}
    28.4%{left: 80px; bottom:295px;}
    56.8%{left: 260px; bottom:215px;}
    71%{left: 400px; bottom:295px;}
    85.2%{left:450px; bottom:160px;}
    to{left: 130px; bottom:170px;}




}