  @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --main-color: #E6E3D5;
    --secondary-colors: #9C709A;
    --font-color: #2E2222;
    --header-font:'PT Serif', serif;
    --body-font:'DM Sans', sans-serif;
}

body{
    background-color: var(--main-color);
    height: 81vh;
}

header{
    height: 100px;
    display: flex;
    font-family: var(--header-font);
    font-weight: bold;
    color: var(--font-color);
    padding-left: 25px;
    padding-right: 25px;

}

header a{
    text-decoration: none;
    color: var(--font-color);
}

header a:hover{
    transition: 0.5s;
    color:#9C709A;
}

#logo-header{
    height: 100px;

}

.left-header, .right-header{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-header{
    justify-content: center;
}

header input{
    border: 1px solid var(--font-color);
    border-radius: 10px;
    height: 30%;
    width: 35%;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
}

.right-header i{
    font-size: 20px;
}

header input::placeholder{
    text-align: center;
    color: rgba(211, 211, 211, 0.726);
}

main{
    height: 100%;
    flex-wrap: wrap;
    width: 100%;

}

.up-main{
    width: 100%;
    height: 429px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;

}

.down-main{
    width: 100%;
    height: 450px;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}



#world_map{
    height: 100%;
    width: 100%;
}

#location_icon{
    position: absolute;
    height: 35px;
    animation: mymove 10s infinite;
}

#nuvem1{
    animation: mymove1 8s infinite;
}

#nuvem2{
    animation: mymove2 4s infinite;
}

#nuvem3{
    animation: mymove3 6s infinite;
}

#nuvem4{
    animation: mymove4 2s infinite;
}

#aviao{
    animation: mymoveAviao 20s infinite;
    position: relative;
}

.nuvem{
    height: 100px;
    position: relative;
    right: 0;
}
@keyframes mymove1{
    from {top: -50px; right: -1000px;}
    to {top: -50px; right: 100%;}
}
@keyframes mymove2{
    from {top: -150px; right: -2000px;}
    to {top: -150px; right: 100%;}
}

@keyframes mymove3{
    from {top: -200px; right: -3000px;}
    to {top: -200px; right: 100%;}
}

@keyframes mymove4{
    from {top: 100px; right: -500px;}
    to {top: 100px; right: 100%;}
}

@keyframes mymoveAviao{
    from {top: -50px; right: 300px;}
    20% {top: -10px; right: 200px;}
    40% {top: -25px; right: 260px;}
    60% {top: 0px; right: 310px;}
    80% {top: 20px; right: 190px;}
    to {top: -50px; right: 300px;}
}