@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Yellowtail&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Cabin', sans-serif;
}
:root{
    --main-color: #0A0C0B;
}
body{

    height: 1000px;
    background-color: var(--main-color);
}
section{
    color: #fdfdfd;
    height: 500px;
}
section h2{
    text-align: center;
}

#header-logo{
    height: 100px;
}

.navbar, .nav-link{
    padding: 0;
    background-color:var(--main-color)!important;
    color: #fdfdfd;
    font-size: 20px;   
}
.navbar{
    padding-right: 20px;
    border-bottom: 1px solid #fdfdfdc0;

}
header{
    position: fixed!important;
    top: 0!important;
    width: 100%;
    z-index: 20;
}
.nav-link:hover{
    color: #fdfdfd8e;
}

.icones{
    font-size: 30px;
    margin-left: 20px;
}

.icones:hover{
    color: #fdfdfd8e;
    cursor: pointer;
}

.home-button:focus, .menu-button:focus{
    color: #fdfdfd!important;
}

.container{
    display: flex;
}

.left-side, .right-side{
    width: 50%;
    height: 85vh;

}

.image-section{
    width: 400px;
}

.welcome-section{
    margin-top: 50px;
}

.welcome-section p, .atividades-section p, .comida-section p{
    font-size: 30px;
    font-weight: bold;
    color: #fdfdfd;
}

.text-section{
    margin-top: 50px;
}

.right-image{
    display: flex;
    flex-direction: column;
    align-items:  end;
}

.card-block{
    display: flex;
    justify-content: space-between;
}

.imagem_cabana{
    height: 315px;
}

.imagem-carrosel{
    height: 50%;
}
#carouselExample{
    width: 520px;
}

.carrosel-block{
    display: flex;
    justify-content: center;
    align-items: center;
}